<h1>ADMIN Sign Up</h1>

<form class="" action="/adminRegister" method="post">
  <input type="text" name="username" placeholder="Admin Username">
  <input type="password" name="password" placeholder="Password">
  <button>Submit</button>
</form>

<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
