<h1>Welcome Admin</h1>

<% for(var i=0; i<applications.length; i++){ %>
  <div>Application submitted by <%= applications[i].submitter.name %>. Reason: <%= applications[i].reasonForLeave %></div>
  <a href="/application/<%= applications[i]._id %>">View Application</a>
  <% if(applications[i].isAccepted == "waiting"){ %>
    <p>Requires action</p>
  <% } else if(applications[i].isAccepted == "no"){ %>
    <p>REJECTED</p>
  <% } else if(applications[i].isAccepted == "yes"){ %>
    <p>ACCEPTED</p>
  <% } %>


<% } %>
