<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<a href="/adminRegister">Admin Register</a>
<a href="/adminLogin">Admin Login</a>
<a href="/adminLogout">Admin Logout</a>
