<h1>Welcome Admin</h1>

<% for(var i=0; i<applications.length; i++){ %>
  <div>Application submitted by <%= applications[i].submitter.name %>. Reason: <%= applications[i].reasonForLeave %></div>
  <% if(applications[i].isAccepted == "waiting"){ %>
    <form action="/rejectApplication/<%= applications[i]._id %>" method="post">
      <button>Reject</button>
    </form>
    <form action="/acceptApplication/<%= applications[i]._id %>" method="post">
      <button>Accept</button>
    </form>
  <% } else if(applications[i].isAccepted == "no"){ %>
    <p>REJECTED</p>
  <% } else if(applications[i].isAccepted == "yes"){ %>
    <p>ACCEPTED</p>
  <% } %>%>


<% } %>
