<h1>Leave Application</h1>

<form action="/studentHome" method="post">
  <input type="text" name="student[name]" placeholder="Name">
  <input type="text" name="student[rollNo]" placeholder="Roll No.">
  <input type="text" name="student[reasonForLeave]" placeholder="Reason For Leave">
  <button>Submit</button>
</form>
